body {
  .form {
    width: 85%;
  }

  .setbut {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  
  .logset {
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .error {
    position: absolute;
    width: 400px;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: 600px) {
    .form {width: 400px;}
  }

  @media screen and (max-width: 400px) {
    .error {width: 300px;}
  }
}